
		.bottom-content {
			margin-top: 3%;
		}
		
		#about-title {
			text-align: center;
			margin-top: 2%;
		}
		
		#profile-img {
			border: 4px solid #0275d8;
		}
		
		#creator-title {
			text-align: center;
			border-bottom: 3px solid #0275d8;
		}
		
		footer {
			margin-top: 3%;
			background-color: #444;
			color: white;
			text-align: center;
		}
		
		#footer-img {
			border: 1px solid #0275d8;
			height: 28px;
			width: 28px;
		}
		
		i {
			padding: 5px;
		}
		
		#footer-border-right {
			border-right: 1px solid white;
		}
		
		#footer-border-bottom {
			border-bottom: 1px solid white;
		}
		
		@media (max-width : 767.5px) {
			.contact-title {
				visibility: hidden;
			}
			
			#info {
				margin-bottom: 5%;
			}
			
			#footer-border {
				margin-bottom: 5%;
			}
		
		}
		
		#inherit {
			color: inherit;
		}
		
		#slide-images {
			width: 100%;
			height: 100%;
		}
		
		.slide-hover img {
			-webkit-transition: all .3s ease; /* Safari and Chrome */
			-moz-transition: all .3s ease; /* Firefox */
			-o-transition: all .3s ease; /* IE 9 */
			-ms-transition: all .3s ease; /* Opera */
			transition: all .3s ease;
		}
		.slide-hover img:hover {
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform:translateZ(0) scale(1.04); /* Safari and Chrome */
			-moz-transform:scale(1.04); /* Firefox */
			-ms-transform:scale(1.04); /* IE 9 */
			-o-transform:translatZ(0) scale(1.04); /* Opera */
			transform:translatZ(0) scale(1.04);
		}
		  
		  
		.grayscale {
		  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
		  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
		  filter: brightness(1.10) grayscale(100%); 
		}